<div style="padding: 10px;">
  <strong>Olá, </strong><strong style="color: #eb4c64">{{ student }}</strong>
  <p>Sua matrícula foi realizada com sucesso!!!</p>
  <p>
    <strong>Plano: </strong> {{ plan }} <br/>
    <strong>Preço: </strong> R$ {{ price_month }}/mês <br/>
    <strong>Preço Total: </strong> R$ {{ price_total }} <br/>
    <strong>Início: </strong> {{ start_date }} <br/>
    <strong>Fim: </strong> {{ end_date }} <br/>
  </p>
  <h2 style="color: #eb4c64">#BoraTreinar</h4>
</div>
